<div class="banner-title-section container mx-auto my-5 px-2 sm:px-8">
    <div
      class="liner-container my-5 flex justify-center border-b-2 border-[rgba(119,119,119,.17)]">
      <h1
        class="mb-[-2px] inline-block border-b-2 border-primary-500 pb-3 text-2xl font-bold uppercase">
        Contact Us
      </h1>
    </div>
  </div>