<div class="breadcrumb-section container mx-auto my-5 px-2 sm:px-8">
    <nav
      class="container mx-auto my-10 flex items-center gap-2 px-4 sm:px-8 xl:px-4">
      <ul class="flex flex-wrap items-center gap-1">
        <li class="transition-all duration-300 hover:text-primary-500">
          <a href="index.html">Home</a>
        </li>
        <li>
          <i class="bi bi-caret-right-fill flex text-primary-500"></i>
        </li>
        <li
          class="pointer-events-none text-slate-500 transition-all duration-300">
          <a href="contact-us.html">Contact us</a>
        </li>
      </ul>
    </nav>
  </div>